body {
  margin: 0;
  padding: 0;
  background: #1a001f; 
  background: linear-gradient(135deg, #0f0017, #290033, #400052);
  color: white;
  font-family: 'Segoe UI', sans-serif;
  min-height: 100vh;
}

.container {
  max-width: 700px;
  margin: 60px auto;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 0 20px #c800ff;  
  backdrop-filter: blur(10px);
}
h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #e87cff; 
  text-shadow: 0 0 10px #c800ff;
}

.question-card {
  background-color: rgba(255, 255, 255, 0.05);
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  border: 1px solid #e87cff;
  box-shadow: 0 0 12px #e87cff50;
}
.question-card label {
  display: block;
  margin: 6px 0;
  color: #ddd;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.question-card label:hover {
  color: #e87cff;
  text-shadow: 0 0 8px #e87cff;
}

.btn {
  display: block;
  width: 100%;
  background-color: #e87cff;
  color: black;
  padding: 12px;
  font-weight: bold;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  cursor: pointer;
  box-shadow: 0 0 15px #e87cff;
  transition: 0.3s ease;
}

.btn:hover {
  background-color: #ffb7ff;
  box-shadow: 0 0 25px #e87cff, 0 0 45px #e87cff;
}

